@*<h1>Meso Html</h1>
<h2>Meso Html</h2>
<h3>Meso Html</h3>
<h4>Meso Html</h4>
<h5>Meso Html</h5>
<h6>Meso Html</h6>
<h7>Meso Html</h7>
Meso Html

<p>Universiteti AAB 
Universiteti AAB
Universiteti AAB</p>

<p>Universiteti AAB II </p>
<p>Universiteti AAB III</p>
*@
<div style="border: 1px solid red; height: 200px; font-size: 36px; padding: 100px; margin-left: 100px;" >
    Kastriot Gjoka
</div>

<p style="margin-top:30px;background-color: red; color: white; text-align: right; padding-right: 20px;">
    Hello Leron Berisha
</p>

<a href="url">link text</a>
<table class="table table-bordered">
    <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
    </tr>
</table>

